<div class="Container">

    
    <h1 class="my-3">Hi, <%= current_user.first_name%> </h1>

    <h1>Welcome to Business Home Page</h1>

    <br>
    <%= link_to "Create a new business",new_business_path, class: "btn btn-outline-success" %>
    <br>
    <br>
    <br>
    <h2>Business:</h2>
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <% @businesses.each do |business| %>
                <tr>
                <th scope="row"><%="#{business.id}"%></th>
                <td><%= link_to business.name, business_path(business.id)%></td>
                <td><%= business.description%></td>
                <td> 
                    <%= link_to "Edit",edit_business_path(business.id), class: "btn btn-outline-success" %>
                    <%= link_to "Delete",business_path(business.id), method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-outline-success" %>

                </td>
                </tr>
            <%end%>
        </tbody>
    </table>

</div>