<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @business.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @business.body %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
