<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @business.description %>
</p>

<p>
  <strong>Members:</strong>
  <% @members.each do |m| %>
    <%= m.name %>
  <% end %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
