<%= form_with(model: task) do |form| %>
    <% if task.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
  
        <ul>
          <% task.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
  
    <div class="field">
      <%= form.label :due_date %>
      <%= form.date_field :due_date %>
    </div>

    <div class="field">
      <%= form.label "Task_type" %> <br/>
      <%= form.select(:task_type, options_for_select([['Feature','feature'],['Bug','bug']]),{include_blank: true}) %>
      <br>
    </div>

    <div class="field">
      <%= form.label "Select Business" %> <br/>
      <%= form.select :business_id, Business.all.map{|p| [p.name, p.id]}, {prompt: "Please select"} %>
    <br>
    </div>

    <div class="field">
    <%= form.label "Image" %><br />
    <%= form.file_field :image %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
  