<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Task Type:</strong>
  <%= @task.task_type %>
</p>


<p>
  <strong>Due Date:</strong>
  <%= @task.due_date %>
</p>


<p>
    <strong>Business Name:</strong>
    <%= Business.find(@task.business_id).name %>
</p>

<img src="<%= @task.image %>" width="500" height="600">
  

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
