<div class="Container">
    <h1>Welcome to Users Home Page</h1>

    <h1>Users</h1>

    <%= link_to "Create a new User",new_user_path, class: "btn btn-outline-success" %>



    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr>
                <th scope="row"><%="#{user.id}"%></th>
                <td><%= link_to user.name, user_path(user.id)%></td>
                <td><%= user.email%></td>
                <td> 
                    <%= link_to "Details",user_path(user.id), class: "btn btn-outline-success" %>
                    <%= link_to "Delete",user_path(user.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-success" %>
                </td>
                </tr>
            <%end%>
        </tbody>
    </table>

</div>