<h1>Create a new User</h1>


<%= form_for(@user) do |form| %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name , required: true %>
    </div>

    <div class="field">
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", required: true %>
    </div>

    
  
    <div class="actions">
      <%= form.submit %>
    </div>

  <% end %>
  